	$dimen-height-split: 100%;
	$dimen-width-split: 50%;
	$dimen-height-input: 35px;
	$dimen-width-input: 60%;
	$dimen-font-size: 20px;
	$dimen-margin:10px;
	$dimen-zero-dis:0;
	$dimen-text-align: left;
	$dimen-align: right;
	$dimen-index: 1;